<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace：名称空间
-->
<mapper namespace="com.feng.mapper.DetailMapper">

    <resultMap id="detailResultMap" type="Detail">
        <id column="detail_id" property="detailId"/>
        <result column="user_addr" property="userAddr"/>
        <result column="user_tel" property="userTel"/>
        <result column="user_desc" property="userDesc"/>
        <result column="uid" property="userId"/>
    </resultMap>

    <!--添加操作-->
    <insert id="insertDetail">
        insert into details(user_addr,user_tel,user_desc,uid)
        values (#{userAddr},#{userTel},#{userDesc},#{userId})
    </insert>

    <!--根据uid查询所有-->
    <select id="queryDetailByUid" resultMap="detailResultMap">
        select * from details
        where uid=#{userId}
    </select>

</mapper>